{% extends "base.html" %}

{% block encabezado %}
    <form method="post" action="/logout">
        {% csrf_token %}
        <button type="submit" class="btn btn-personalizado">Cerrar Sesión</button>
    </form>
{% endblock %}

{% block contenido %}
    <h1>Crear nueva tarea</h1>

    <ul class="messages">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>

    <form method="POST">
        {% csrf_token %}
        <label>Nombre del ejercicio:</label><br>
        <input type="text" id="nombre_eje" name="nombre_eje" required/><br>
        <label>Descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion" required/><br>
        <label>Fecha de inicio:</label><br>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required/><br>
        <label>Fecha de cierre:</label><br>
        <input type="date" id="fecha_cierre" name="fecha_cierre" required/><br>
        <label>Entrada esperada:</label><br>
        <input type="text" id="entrada" name="entrada" required/><br>
        <label>Salida esperada:</label><br>
        <input type="text" id="salida" name="salida" required/><br>
        <label>Salida ejemplo:</label><br>
        <input type="file" id="salida_ejemplo" name="salida_ejemplo" required/><br>

        <input type="submit" value="Registrar"/>
    </form>
{% endblock %}

