{% extends "base.html" %}

{% block encabezado %}
<form method="post" action="/logout">
    {% csrf_token %}
    <button type="submit">Cerrar Sesión</button>
</form>
{% endblock %}

{% block contenido %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <h1>Listado de mis tareas</h1>
    <form method="POST" action="eliminar_tareas">
        {% csrf_token %}
        <input type="text" id="elimina_tarea" name="elimina_tarea" required/><br>
        <input type="submit" value="Eliminar tarea"/>
    </form>
    {% if tareas %}
        <div class="row">
            {% for tarea in tareas %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ tarea.nombre }}</h5>
                            <p class="card-text"><strong>NRC:</strong><br> {{ tarea.id_tarea }}</p>
                            <p class="card-text"><strong>Descripción:</strong><br> {{ tarea.descripcion_general }}</p>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
