{% extends "base.html" %}

{% block titulo %}Respuestas de Estudiantes - Sistema de Evaluación de Código{% endblock %}

{% block encabezado %}
<form method="post" action="/logout">
    {% csrf_token %}
    <button type="submit" class="btn btn-personalizado">Cerrar Sesión</button>
</form>
{% endblock %}

{% block contenido %}
<div class="container">
    <h1 class="text-center mb-4">Respuestas de Estudiantes</h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Actividad Realizada</th>
                    <th scope="col">Alumno</th>
                    <th scope="col">Puntaje</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.tarea }}</td>
                    <td>{{ estudiante.alumno }}</td>
                    <td>{{ estudiante.puntaje }}</td>
                    <td>
                        <form method="POST" action="#">
                            {% csrf_token %}
                            <input type="hidden" id="nombre_tarea" name="nombre_tarea" value="{{ estudiante.tarea }}">
                            <input type="hidden" id="nombre_estudiante" name="nombre_estudiante" value="{{ estudiante.alumno }}">
                            <button type="submit" class="btn btn-primary">Ver detalles</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
