{% extends "baseLogReg.html" %}

{% block encabezado %}
    <h1 class="display-4">Usuario Telegram</h1>
{% endblock %}

{% block formulario %}
    <form method="POST" class="w-50 mx-auto">
        {% csrf_token %}

        {% if messages %}
            <div class="alert alert-info">
                <ul class="mb-0">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="usuario_telegram">Ingresa tu usuario de Telegram:</label>
            <input type="text" class="form-control" id="usuario_telegram" name="usuario_telegram" required>
        </div>

        <button type="submit" class="btn btn-primary">Siguiente</button>
    </form>
{% endblock %}
