{% extends "baseLogReg.html" %}
<head>
    {% block encabezado %}<h1>Autenticación</h1>{% endblock %}
</head>

<body>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% block formulario %}
        <form method="POST">
            {% csrf_token %}
            <label>Ingresa el Token</label><br>
            <input type="text" id="caracteres" name="caracteres"/>
            <br>
            <input type="submit" value="Confirmar"/>
        </form>
        <a href="https://web.telegram.org/a/#7199611399">Ir a bot</a>
    {% endblock %}
</body>

